.recipe-holder {
    max-width: 300px;
}

.recipe-thumbnail {
    max-width: 300px;
}

.fixed-top {
    position: fixed;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
  }