body {
  font-family: "Roboto", sans-serif;

  /* This is a cool linear gradient http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
  background: #ffc578; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffc578 0%,
    #fb9d23 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffc578 0%,
    #fb9d23 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #ffc578 0%,
    #fb9d23 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#logo-holder {
  background-image: url("../assets/images/pantry-hero-img-1280x300.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.recipe-holder {
  max-width: 300px;
}

.recipe-thumbnail {
  max-width: 300px;
}

.btn-centering {
  margin: 0 auto;
}

#submit-btn {
  background-color: #30aac0;
}

/* Classes for image aesthetics */

.recipe-holder {
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 10px;
}

.recipe-thumbnail {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recipe-bottom-row {
  padding-left: 5px;
}

.recipe-popup {
  position: relative;
  background-color: #30aac0;
  opacity: 0.75;
  color: #fff;
}

.popup-image {
  width: 300px;
}

/* .recipe-bottom-right {
    
} */

a {
  text-decoration: none;
  color: #30aac0;
}
a:hover {
  text-decoration: none;
  color: #e78000;
}

/* utility classes */
.custom-margin-top {
  margin-top: 6em !important;
}

.custom-text-green {
  color: #30aac0;
}

.custom-text-orange {
  color: #e78000;
}

/* logo up top */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 92% !important;
  z-index: 1030;
}
