body {
    font-family: 'Roboto', sans-serif;
}

#logo-holder {
    background-image: url("images/placeholder.png");
    background-size: contain;
    width: 100%;
    min-height: 300px;
}

.recipe-holder {
    max-width: 300px;
}

.recipe-thumbnail {
    max-width: 300px;
}

.btn-centering {
    margin: 0 auto;
}

#submit-btn {
    background-color: #30AAC0;
}

/* Classes for image aesthetics */

.recipe-holder {
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;   
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px; 
}

.recipe-thumbnail {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.recipe-bottom-row {
    padding-left: 5px;
}

.recipe-popup {
    position: relative;
    background-color:#30AAC0;
    opacity: 0.75;
    color: #fff;
}

.popup-image {
    width: 300px;
}

/* .recipe-bottom-right {
    
} */

a {
    text-decoration: none;
    color: #30AAC0;
} a:hover {
    text-decoration: none;
    color: #E78000;
}