body {
    font-family: 'Roboto', sans-serif;
}

#logo-holder {
    background-image: url("images/placeholder.png");
    background-size: contain;
    width: 100%;
    min-height: 300px;
}

.recipe-holder {
    max-width: 300px;
}

.recipe-thumbnail {
    max-width: 300px;
}

.btn-centering {
    margin: 0 auto;
}

/* Classes for image aesthetics */

.recipe-holder {
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;   
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px; 
}

.recipe-thumbnail {
    border-radius: 10px;
}