html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;

  /* This is a cool linear gradient http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
  background: #ffc578; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffc578 0%,
    #fb9d23 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffc578 0%,
    #fb9d23 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #ffc578 0%,
    #fb9d23 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.montez-font {
  font-family: "Montez", cursive;
  font-size: 5em;
}

#logo-holder {
  background-image: url("../assets/images/pantry-hero-img-1280x300.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.recipe-holder {
  max-width: 300px;
}

.recipe-thumbnail {
  max-width: 300px;
}

.btn-centering {
  margin: 0 auto;
}

#submit-btn {
  background-color: #30aac0;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  -moz-box-shadow: 0 0 20px #444;
  -webkit-box-shadow: 0 0 20px #444;
  box-shadow: 0 0 20px #444;
}

/* Classes for image aesthetics */

.recipe-holder {
  background: #ffffff;
  -moz-box-shadow: 0 0 20px #444;
  -webkit-box-shadow: 0 0 20px #444;
  box-shadow: 0 0 20px #444;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 10px;
}

#recent-searches-box {
  display: flex;
  flex-flow: column;
}

.recents-button {
  min-width: fit-content;
  width: 100%;
  display: flex;
  flex-flow: row;
  margin: 6px 0;
}

.recents-div {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

.recent-searches-header {
  text-align: center;
}

.recipe-thumbnail {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recipe-bottom-row {
  padding-left: 5px;
}

.recipe-popup {
  position: relative;
  background-color: #30aac0;
  opacity: 0.75;
  color: #fff;
  display: flex;
  flex-flow: row;
  max-width: 960px;
  margin: auto;
  align-content: center;
}

.popup-image {
  width: 300px;
}

/* .recipe-bottom-right {
    
} */

a {
  text-decoration: none;
  color: #30aac0;
}
a:hover {
  text-decoration: none;
  color: #e78000;
}

#char-box #chef {
  /* border: solid 1px #30aac0; */
  /* border: solid 1px #30aac0; */
  position: absolute;
  left: 17rem;
  top: 4rem;
  z-index: 1;
}

/* utility classes */
.custom-margin-top {
  margin-top: 6em !important;
}

.custom-text-green {
  color: #30aac0;
}

.custom-text-orange {
  color: #e78000;
}

/* logo up top */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 91.5% !important;
  z-index: 1030;
}

/* loading icon */
.loader {
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* phone screens media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 65.5% !important;
    z-index: 1030;
  }

  #char-box #chef {
    /* border: solid 1px #30aac0; */
    /* border: solid 1px #30aac0; */
    position: absolute;
    left: -4rem;
    top: 4rem;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .recipe-popup {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
  }
}
